<div id="<%= dom_id condiment %>">
   <p>
    <strong>Name:</strong>
    <%= condiment.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= condiment.price %>
  </p>

  <p>
    <strong>Checked:</strong>
    <%= condiment.checked %>
  </p>

</div>
