<div id="<%= dom_id condiment_amt %>">
  <p>
    <strong>Small:</strong>
    <%= condiment_amt.small %>
  </p>

  <p>
    <strong>Medium:</strong>
    <%= condiment_amt.medium %>
  </p>

  <p>
    <strong>Large:</strong>
    <%= condiment_amt.large %>
  </p>

</div>
