<% content_for :title, "Editing condiment amt" %>

<h1>Editing condiment amt</h1>

<%= render "form", condiment_amt: @condiment_amt %>

<br>

<div>
  <%= link_to "Show this condiment amt", @condiment_amt %> |
  <%= link_to "Back to condiment amts", condiment_amts_path %>
</div>
