<% content_for :title, "New condiment amt" %>

<h1>New condiment amt</h1>

<%= render "form", condiment_amt: @condiment_amt %>

<br>

<div>
  <%= link_to "Back to condiment amts", condiment_amts_path %>
</div>
