<div id="<%= dom_id food_item %>">
    
  <p>
    <strong>Name:</strong>
    <%= food_item.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= food_item.price %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= food_item.comments %>
  </p>

</div>
